<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Montando o Lanche</title>
    <script src="./vue.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <span class="navbar-brand mb-0 h1">Monte Seu Lanche</span>
      </div>
    </nav>

    <div class="container">
      <div id="app">
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="row">
              <div class="col">
                <img :src="bread[0]" />
                <img :src="salad" />
                <img :src="ketchup" />
                <img :src="maionese" />
                <img :src="mostarda" />
                <img :src="meat" />
                <img :src="bread[1]" />
              </div>
            </div>
          </div>
          <div class="col-md-6" v-if="state == 1">
            <!--  -->
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">Tipo do Pão</div>
                  <div class="card-body">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="bread"
                        value="gergilim"
                        v-model="inputBread"
                      />
                      <label class="form-check-label"> Gergelim </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="bread"
                        value="australiano"
                        v-model="inputBread"
                      />
                      <label class="form-check-label"> Australiano </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="row mt-2">
              <div class="col">
                <div class="card">
                  <div class="card-header">Saladas</div>
                  <div class="card-body">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        name="salad"
                        value="alface"
                        v-model="inputSalad"
                      />
                      <label class="form-check-label"> Alface </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="row mt-2">
              <div class="col">
                <div class="card">
                  <div class="card-header">Molhos</div>
                  <div class="card-body">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="ketchup"
                        v-model="inputSauce"
                      />
                      <label class="form-check-label"> Ketchup </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="mostarda"
                        v-model="inputSauce"
                      />
                      <label class="form-check-label"> Mostarda </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        value="maionese"
                        v-model="inputSauce"
                      />
                      <label class="form-check-label"> Maionese </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="row mt-2">
              <div class="col">
                <div class="card">
                  <div class="card-header">Tipo de Hambúrguer</div>
                  <div class="card-body">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="meat"
                        value="bovino"
                        v-model="inputMeat"
                      />
                      <label class="form-check-label"> Bovino </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="meat"
                        value="frango"
                        v-model="inputMeat"
                      />
                      <label class="form-check-label"> Frango </label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="meat"
                        value="soja"
                        v-model="inputMeat"
                      />
                      <label class="form-check-label"> Soja </label>
                    </div>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn btn-info"
                      @click="fazerPedido()"
                    >
                      Finalizar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-md-6" v-if="state == 2">
            <!--  -->
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">Informe seus dados</div>
                  <div class="card-body">
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text">Nome</span>
                      <input
                        type="text"
                        class="form-control"
                        aria-label="Informe seu Nome"
                        aria-describedby="inputGroup-sizing-sm"
                        id=""
                        v-model="inputName"
                      />
                    </div>
                    <div class="input-group input-group-sm mb-3">
                      <span class="input-group-text">Endereço</span>
                      <input
                        type="text"
                        class="form-control"
                        aria-label="Informe seu endereço"
                        aria-describedby="inputGroup-sizing-sm"
                        id=""
                        v-model="inputAddress"
                      />
                    </div>
                    <p>
                      Seu pedido é um hambúrguer com pão
                      <span v-if="inputBread === 'gergilim'"
                        >de Gergelim,
                      </span>
                      <span v-else>{{ inputBread }},</span>
                      <span v-if="inputSalad.length === 0"> sem salada, </span>
                      <span v-else>
                        com salada de {{ inputSalad.join(', ') }},</span
                      >
                      <span v-if="inputSauce.length === 0"> sem molho, </span>
                      <span v-else>
                        com os molhos {{ inputSauce.join(', ') }},</span
                      >
                      e bife de {{inputMeat}}
                    </p>
                    <span v-if="inputAddress && inputName">
                      <p>No endereço: {{inputAddress}}, para {{inputName}}</p>
                    </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col d-flex justify-content-end gap-3">
                    <button
                      type="button"
                      class="btn btn-danger"
                      @click="state -= 1"
                    >
                      Retornar
                    </button>
                    <button
                      type="button"
                      class="btn btn-success"
                      @click="finalizarPedido()"
                    >
                      Finalizar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="col-md-6" v-if="state == 3">
            <!--  -->
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header">Pedido Confirmado</div>
                  <div class="card-body">
                    <p>
                      Agora é so aguardar em quanto seu pedido será preparado
                    </p>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col d-flex justify-content-center gap-3">
                    <button
                      type="button"
                      class="btn btn-success"
                      @click="novoPedido()"
                    >
                      Realizar outro pedido
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src="imagens/" alt="" />
    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          inputBread: "",
          inputSalad: [],
          inputSauce: [],
          inputMeat: "",
          state: 1,
          inputName: "",
          inputAddress: "",
          returnPedido: null,
        },
        computed: {
          bread() {
            switch (this.inputBread) {
              case "gergilim":
                return [
                  "imagens/pao_gergelim_superior.png",
                  "imagens/pao_gergelim_inferior.png",
                ];

              case "australiano":
                return [
                  "imagens/pao_australiano_superior.png",
                  "imagens/pao_australiano_inferior.png",
                ];

              default:
                return [
                  "imagens/padrao/pao_superior.png",
                  "imagens/padrao/pao_inferior.png",
                ];
            }
          },
          salad() {
            if (this.inputSalad.includes("alface")) {
              return "imagens/alface.png";
            }
            return "imagens/padrao/alface.png";
          },

          ketchup() {
            if (this.inputSauce.includes("ketchup")) {
              return "imagens/ketchup.png";
            }
            return "imagens/padrao/molho.png";
          },
          maionese() {
            if (this.inputSauce.includes("maionese")) {
              return "imagens/maionese.png";
            }
            return "imagens/padrao/molho.png";
          },
          mostarda() {
            if (this.inputSauce.includes("mostarda")) {
              return "imagens/mostarda.png";
            }
            return "imagens/padrao/molho.png";
          },
          meat() {
            switch (this.inputMeat) {
              case "bovino":
                return "imagens/bovino.png";
              case "frango":
                return "imagens/frango.png";

              case "soja":
                return "imagens/soja.png";
              default:
                return "imagens/padrao/hamburguer.png";
            }
          },
        },
        methods: {
          fazerPedido() {
            if (this.inputBread && this.inputMeat) {
              this.state = 2;
            } else {
              alert("Escolha um tipo de Pão e uma Carne");
            }
          },
          finalizarPedido() {
            if (this.inputName && this.inputAddress) {
              this.state = 3;
              this.returnPedido = setTimeout(() => this.novoPedido(), 10000);
            } else {
              alert("Informe o Nome e o Endereço");
            }
          },
          novoPedido() {
            this.state = 1;
            this.inputBread = "";
            this.inputSalad = [];
            this.inputSauce = [];
            this.inputMeat = "";
            this.inputName = "";
            this.inputAddress = "";
            this.returnPedido = null;
          },
        },
      });
    </script>
  </body>
</html>
